iframe { width: 1024px; height: 768px; float: left }
.sidebar{ float: right; width: 256px; }
a.comments { top: 30px; left: 30px; }
div.comments { 
  z-index: 50; 
  width: 80%; 
  height: 80%; 
  position: fixed; 
  margin: 10%; 
  background-color: black; 
  display:none;
}
div.comments textarea {
  width: 500px;
  height: 100px;
}
.button {
  display:block;
  margin: 5px;
}